<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee">
	<display-name>Computer Database</display-name>

	<!-- Spring container configuration -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:restServices-context.xml</param-value>
	</context-param>
</web-app>
