<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

	<import resource="classpath:/dataSource.xml" />

	<security:authentication-manager>
		<security:authentication-provider>
			<security:jdbc-user-service id="userService" data-source-ref="dataSource" />
		</security:authentication-provider>
	</security:authentication-manager>
	<!-- DigestAuthentication -->
	<bean id="digestFilter"
		class="org.springframework.security.web.authentication.www.DigestAuthenticationFilter">
		<property name="userDetailsService" ref="userService" />
		<property name="authenticationEntryPoint" ref="digestEntryPoint" />
	</bean>
	<bean id="digestEntryPoint"
		class="org.springframework.security.web.authentication.www.DigestAuthenticationEntryPoint">
		<property name="realmName" value="Contacts Realm via Digest Authentication" />
		<property name="key" value="acegi" />
	</bean>
	
	<security:http auto-config="true" entry-point-ref="digestEntryPoint">
		<!-- access denied page -->
		<security:access-denied-handler error-page="/403" />
		<security:intercept-url pattern="/dashboard*" method="GET" access="hasRole('USER')" />
		<security:intercept-url pattern="/dashboard*" method="POST" access="hasRole('ADMIN')" />
		<security:intercept-url pattern="/addComputer*" access="hasRole('USER')" />
		<security:intercept-url pattern="/editComputer*" access="hasRole('USER')" />
		<security:http-basic />
		<security:custom-filter ref="digestFilter" after="BASIC_AUTH_FILTER" />
	</security:http>
</beans>
